In [2]:
import pandas as pd
import os

In [5]:
def read_csv_files(folder_path):
    # Get the list of files in the folder
    files= os.listdir(folder_path)

    # Filter for csv files
    csv_files= [file for file in files if file.endswith('.csv')]

    # Create empty dict to hold future DataFrames
    dataframes={}

    # Loop through each csv and read into DataFrame
    for csv_file in csv_files:
        path= os.path.join(folder_path, csv_file)
        df_name= os.path.splitext(csv_file)[0] # Use filename for df
        dataframes[df_name]= pd.read_csv(path)
    
    return dataframes

folder_path='resources'
result=read_csv_files(folder_path)

In [7]:
for key in list(result.keys()):
    new_key=key +'_df'
    result[new_key]=result.pop(key)

# Now each key in the dictionary will be file_df

In [10]:
for key in result.keys():
    globals()[key]=result[key]

# This iterates through the results and allows 
# us to call without using result['df']

In [22]:
album_df.isnull().sum()

album_id     0
title        0
artist_id    0
dtype: int64

In [23]:
album2_df.isnull().sum()

album_id     0
title        0
artist_id    0
dtype: int64

In [24]:
artist_df.isnull().sum()

artist_id    0
name         0
dtype: int64

In [25]:
customer_df.isnull().sum()

customer_id        0
first_name         0
last_name          0
company           49
address            0
city               0
state             29
country            0
postal_code        4
phone              1
fax               47
email              0
support_rep_id     0
dtype: int64

In [28]:
clean_customer_df=customer_df.dropna(how='any')
clean_customer_dfcustomer_df=customer_df.reset_index(drop=True)
clean_customer_df

,customer_id,first_name,last_name,company,address,city,state,country,postal_code,phone,fax,email,support_rep_id
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
2,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
3,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
4,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
5,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
6,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
7,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
8,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3